          body {
            font-family: Helvetica, Verdana, Arial, sans-serif;
            font-size: 12px;
          }

          #frameselector {
            font-size: 1.5em;
          }

          .box {
            border: solid 1px #000000;
            float:left;
            padding: 1em;
            margin: 1em;
          }

          #chronotext{
               background-color: #D6BFFF; 
          }
          select {
                border: thin #A9B300;
          }
          
